@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  background-image: linear-gradient(45.34deg, #ea52f8 5.66%, #06f);
}

* {
  margin: 0;
  padding: 0;
}

.main-container {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.second-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0 0 32px black;
  background-color: #5a5a5a;
  padding: 26px;
  border-radius: 30px;
}

.first-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 80vh;
}

h1 {
  font-family: 'Poppins', sans-serif;
  margin-top: 10px;
  font-size: 43px;
  text-align: center;
  color: white;
  box-shadow: 0 0 15px black;
}

h3 {
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
  font-size: 35px;
  color: white;
}

input {
  margin-bottom: 30px;
  border: 2px solid black;
  font-size: 20px;
  padding: 5px 9px;
  border-color: white;
  border-radius: 15px;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 35px;
  color: white;
}

.name {
  margin-bottom: 30px;
}

.recent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 22em;
}

button {
  cursor: pointer;
  border-radius: 10px;
  background-color: #ddd;
  border: none;
  color: black;
  padding: 7px 14px;
  text-align: center;
  font-size: 17px;
  margin: 4px 2px;
  transition: 0.3s;
  font-family: 'Poppins', sans-serif;
}

button:hover {
  background-color: #3e8e41;
  color: white;
}

li {
  list-style: none;
  font-size: 16px;
  margin-bottom: 5px;
  border: 2px solid white;
  padding: 5px 76px;
  font-family: 'Poppins', sans-serif;
  color: white;
  background-color: #323232;
  border-radius: 18px;
  word-spacing: 10px;
}
