@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
}

.main-container {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.second-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 80vh;
}

.first-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 80vh;
}

h1 {
  font-family: 'Poppins', sans-serif;
  margin-top: 10px;
  font-size: 43px;
  text-align: center;
}

h3 {
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
  font-size: 35px;
}

input {
  margin-bottom: 30px;
  border: 2px solid black;
  font-size: 20px;
  padding: 5px 9px;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 35px;
}

.name {
  margin-bottom: 30px;
}

.recent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 22em;
}

button {
  padding: 6px;
  font-size: 19px;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
}

li {
  list-style: none;
  font-size: 20px;
  margin-bottom: 5px;
  border: 2px solid black;
  padding: 5px 86px;
}
